<section id="home" class="home-section">
  <div class="container">
      <div class="content">
          <h1 class="main-title">Hi, I am <span>Pratik Kulkarni</span></h1>
          <h2 class="subtitle">I am a Developer!</h2>
          <p class="description">
              A passionate web developer dedicated to delivering outstanding results and pushing the boundaries of what's possible. I take a collaborative approach, working closely with clients to understand their unique needs and create innovative solutions. I'm committed to continuous learning, staying updated with industry trends, and giving back to the community.
          </p>
          <button class="cta-btn">Download Resume</button>
      </div>
  </div>
</section>
