<section id="experience" class="experience-section">
    <h1 class="section-heading">
        <span>
            <i class="fas fa-user-tie"></i>
        </span>
        <span>Work Experience</span>
    </h1>
    <div class="timeline">
        <div class="timeline-box">
            <header>
                <h1 class="Designation">
                    <span><i class="fas fa-laptop-code"></i></span>
                    <span>Student</span>
                </h1>
                <div class="company">
                    CSMSS CHH. SHAHU COLLEGE OF ENGINEERING
                </div>
                <div class="date">
                    Aug 2019 - Aug 2023
                </div>
            </header>
            <div class="text">
                <p>I built a strong foundation in C, C++, and Python during my Bachelor's in Computer Science. I
                    completed a Data Structures and Algorithms course on Coding Ninjas, solving 276 problems, and earned
                    a five-star rating in C++ and three-star rating in Python on HackerRank.</p>
            </div>
        </div>

        <div class="timeline-box">
            <header>
                <h1 class="Designation">
                    <span><i class="fas fa-laptop-code"></i></span>
                    <span>Frontend Developer</span>
                </h1>
                <div class="company">
                    Magicflare Software Services LLP
                </div>
                <div class="date">
                    April 2023 - Dec 2023
                </div>
            </header>
            <div class="text">
                <p>I designed, developed, and maintained an HRMS application to streamline and automate HR functions.
                    Additionally, I implemented responsive and user-friendly interfaces using Angular as the front-end
                    framework. My work involved utilizing frameworks like Angular and libraries such as Bootstrap and
                    Material UI for front-end development.</p>
            </div>
        </div>

        <div class="timeline-box">
            <header>
                <h1 class="Designation">
                    <span><i class="fas fa-laptop-code"></i></span>
                    <span>Graduate Engineer Trainee</span>
                </h1>
                <div class="company">
                    Jio Platforms Limited
                </div>
                <div class="date">
                    Jan 2024 - July 2024
                </div>
            </header>
            <div class="text">
                <p>I developed and maintained the Jio Coupons website with Angular, Python, and Django, enhancing the
                    user interface. I also collaborated with the JioEva team to improve the chatbot model for better
                    accuracy and conducted manual testing to ensure high-quality deliverables.</p>
            </div>
        </div>

        <div class="timeline-box">
            <header>
                <h1 class="Designation">
                    <span><i class="fas fa-laptop-code"></i></span>
                    <span>Full Stack Developer</span>
                </h1>
                <div class="company">
                    Antique Network Solution (Payfin Project)
                </div>
                <div class="date">
                    Nov 2024 - Present
                </div>
            </header>
            <div class="text">
                <p>I’m currently contributing to Payfin, a Fintech SaaS platform, where I’m building scalable dashboards
                    and admin tools using Angular, Node.js, and PostgreSQL. I integrated LLM-based assistants for financial
                    FAQs and implemented end-to-end features including authentication, data visualization, and API design
                    for financial analytics.</p>
            </div>
        </div>

        <div class="timeline-divider">
            <div class="timeline-traveler">
                <i class="fa fa-plane"></i>
            </div>
        </div>
    </div>
</section>
