<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let project of projects">
      <div class="card mb-4 shadow-sm">
        <img [src]="project.image" class="card-img-top" alt="Project Image">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <a [href]="project.link" class="btn btn-primary" target="_blank">View Project</a>
        </div>
      </div>
    </div>
  </div>
</div>

  