<div class="entire-container">
    <!-- Navbar Section -->
    <div class="nav container">
        <div class="nav-container1">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <span>
                        <i class="fa-sharp fa-solid fa-code" style="padding-right: 20px; color: rgb(20, 80, 220); font-size: 24px;"></i>
                    </span>
                    
                    <a class="navbar-brand" href="#">Pratik Kulkarni</a>
                    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <!-- Buttons for each section -->
                        <button class="navbtn" onclick="location.href='#home'">My Portfolio</button>
                        <button class="navbtn" onclick="location.href='#about'">About</button>
                        <button class="navbtn" onclick="location.href='#experience'">Experience</button>
                        <button class="navbtn" onclick="location.href='#projects'">Projects</button>
                        <button class="navbtn" onclick="location.href='#certifications'">Certifications</button>
                        <button class="navbtn" onclick="location.href='#contact'">Contact</button>
                    </div>
                    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" aria-expanded="isCollapsed" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </div>

    <!-- Hero Section -->
    <div class="hero-section">
        <div class="content">
            <p class="title1">BUILDING THE FUTURE, ONE CODE AT A TIME</p>
            <h1  class="title2">Innovative Solutions for a Digital World.</h1>
            <p class="title3">
                Passionate full-stack developer creating impactful digital experiences that drive results. Let's collaborate and turn your ideas into reality!
            </p>
            <!-- <a  style="text-decoration: none; " href="path/to/your/resume.pdf" class="cta-btn " download>Download My Resume</a> -->
        </div>
        
        <div class="image-container">
            <img src="assets/ptk.png" alt="Hero Image">
        </div>
    </div>
</div>

<!-- Sidebar (for small screens) -->
<div class="sidebar" [ngClass]="{'sidebar-open': isCollapsed, 'sidebar-close': !isCollapsed}">
    <div class="sidebar-header">
        <h3 class="text-white">Menu</h3>
        <button class="btn-close" (click)="isCollapsed = false">&times;</button>
    </div>
    <ul class="navbar-navigation">
        <li class="nav-item">
            <a class="nav-link" onclick="location.href='#home'" (click)="isCollapsed = false">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="location.href='#about'" (click)="isCollapsed = false">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="location.href='#experience'"(click)="isCollapsed = false">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="location.href='#projects'"(click)="isCollapsed = false">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="location.href='#certifications'" (click)="isCollapsed = false">Certifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  onclick="location.href='#contact'" (click)="isCollapsed = false">Contact</a>
        </li>
    </ul>
</div>


    <section id="home" class="home text-white d-flex align-items-center" style="min-height: 100vh;">
        <div class="container">
            <app-home></app-home>
        </div>
    </section>

    <section id="about" class="about bg-light py-5">
        <div class="container">
            <app-about></app-about>
        </div>
    </section>

    <section id="experience" class="experience bg-light py-5">
        <div class="container">
            <app-experience></app-experience>
        </div>
    </section>

    <section id="projects" class="projects bg-light py-5">
        <div class="container">
            <app-projects></app-projects>
        </div>
    </section>

    <section id="certifications" class="certifications bg-light py-5">
        <div class="container">
            <app-certifications></app-certifications>
        </div>
    </section>

    <section id="contact" class="contact bg-light py-5">
        <div class="container">
            <app-contact></app-contact>
        </div>
    </section>

