<div class="page2 text-center mb-4">
    <p class="title4 display-5">My Portfollio</p>
    <h6 class="title5">We provide great services for our customers based on their needs</h6>
  </div>
  
  <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">


      <div class="carousel-item active">
        <div class="carousel-content text-center">
          <iframe src="https://naturegallarybyptk.netlify.app" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service Two</h5>
          <p class="card-text">Course Content</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/your-repo-link-2" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light " href="https://elegant-hotteok-e1fc9d.netlify.app/" target="_blank">View Deployed</a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-content text-center">
          <iframe src="https://flexboxbyptk.netlify.app" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service Two</h5>
          <p class="card-text">Course Content</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/ptk244/UsabilityHubusingFlex.git" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light " href="https://flexboxbyptk.netlify.app" target="_blank">View Deployed</a>
          </div>
        </div>
      </div>
     
      <div class="carousel-item ">
        <div class="carousel-content text-center">
          <iframe src="https://relaxed-muffin-9e22bf.netlify.app" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service One</h5>
          <p class="card-text">Ecomerce website</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/ptk244/quizz-app.git" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light " href="https://luminous-gecko-72f89a.netlify.app/" target="_blank">View Deployed</a>
          </div>
        </div>
      </div>

     

      
  

      <div class="carousel-item">
        <div class="carousel-content text-center">

          <iframe src="https://luminous-gecko-72f89a.netlify.app/" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service Two</h5>
          <p class="card-text">Course Content</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/your-repo-link-2" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light " href="https://flexboxbyptk.netlify.app" target="_blank">View Deployed</a>
          </div>
        </div>
      </div>


      <div class="carousel-item">
        <div class="carousel-content text-center">
          <iframe src="https://elegant-hotteok-e1fc9d.netlify.app/" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service Two</h5>
          <p class="card-text">Course Content</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/ptk244/UsabilityHubusingFlex.git" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light " href="https://flexboxbyptk.netlify.app" target="_blank">View Deployed</a>
          </div>
        </div>
      </div>
      
  

      <div class="carousel-item">
        <div class="carousel-content text-center">

          <iframe src="https://rainbow-otter-137853.netlify.app" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service Three</h5>
          <p class="card-text">HRMS System</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/your-repo-link-3" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light" href="https://chipper-croissant-861118.netlify.app/#/" target="_blank">View Deployed</a>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content text-center">

          <iframe src="https://chipper-croissant-861118.netlify.app/#/" class="iframe-preview" frameborder="0" scrolling="no"></iframe>
          <h5 class="card-title mt-3">Service Three</h5>
          <p class="card-text">HRMS System</p>
          <div class="button-group mt-3">
            <a class="btn custom-btn btn-light me-2" href="https://github.com/your-repo-link-3" target="_blank">GitHub Repo</a>
            <a class="btn custom-btn btn-light" href="https://chipper-croissant-861118.netlify.app/#/" target="_blank">View Deployed</a>
        </div>
        </div>
      </div>
    </div>
  

    <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  